<?xml version="1.0" encoding="UTF-8" ?>

<Configuration>
    <Appenders>
        <Console name="coms" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} %msg%n"/>
        </Console>
        <File name="logChat" filename="logfile.log" append="true">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="ru.gb.chat.server.ChatServer" level="debug" additivity="false">
            <AppenderRef ref="coms"/>
            <AppenderRef ref="logChat"/>
        </Logger>
        <Logger name="ru.gb.chat.server.ClientHandler" level="debug" additivity="false">
            <AppenderRef ref="coms"/>
            <AppenderRef ref="logChat"/>
        </Logger>
        <Logger name="ru.gb.chat.ChatClient" level="debug" additivity="false">
            <AppenderRef ref="coms"/>
            <AppenderRef ref="logChat"/>
        </Logger>
        <Logger name="ru.gb.chat.Controller" level="debug" additivity="false">
            <AppenderRef ref="coms"/>
            <AppenderRef ref="logChat"/>
        </Logger>
        <Root level="warn">
            <AppenderRef ref="coms"/>
        </Root>
    </Loggers>
</Configuration>